<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="servicestructure">
      <h2 data-cy="servicestructureDetailsHeading"><span>Servicestructure</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ servicestructure.id }}</span>
        </dd>
        <dt><span>Nom</span></dt>
        <dd>
          <span>{{ servicestructure.nom }}</span>
        </dd>
        <dt><span>Structure</span></dt>
        <dd>
          <div *ngIf="servicestructure.structure">
            <a [routerLink]="['/structure', servicestructure.structure.id, 'view']">{{ servicestructure.structure.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/servicestructure', servicestructure.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
